@model IPagedList<JobInn.Models.TablePage.Blogs.Blog>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_JobInn_Layout.cshtml";
}
<!--WRAPPER START-->

<div id="wrapper">




    <!--INNER BANNER START-->

    <section id="inner-banner">

        <div class="container">

            <h1>Blogs</h1>

        </div>

    </section>

    <!--INNER BANNER END-->
    <!--MAIN START-->

    <div id="main">



        <!--POST AREA START-->

        <section class="post-section blog-post">

            <div class="container">

                <div class="row" style="max-height:350px;">
                    @foreach (var item in Model.OrderByDescending(item=>item.blog_datetime))
                    {
                        <div class="col-md-4 col-sm-6">

                            <div class="post-box" style="height:460px;">

                                <div class="frame"><a href="~/Blogs/Details/@item.blog_id">

                                    @if (item.blog_img == null)
                                    {
                                      <img style="width:360px;height:200px;" src="~/Content/images/blog.jpg" alt="img">
                                    }
                                    else
                                    {
                                        <img style="width:360px;height:200px;" src="~/Content/images/blog/@item.blog_img" alt="img">
                                    }</a></div>

                                <div class="text-box">
                                    <strong class="date"><i class="fa fa-calendar"></i>@item.blog_datetime</strong>

                                    <h4>
                                        <a href="~/Blogs/Details/@item.blog_id">
                                           @item.blog_title
                                        </a>
                                    </h4>

                                    <p> @item.blog_alerttext</p>

                                    <div class="thumb">
                                    <a href="~/Companies/Details/@item.company_id">
                                        @if (item.company.logo_img == null)
                                        {
                                            <img src="~/Content/images/comp.jpg" alt="img">
                                        }
                                        else
                                        {
                                            <img src="~/Content/images/companies/@item.company.logo_img" alt="img">
                                        }

                                      

                                         </a></div>

                                    <strong class="name"><span>By</span> @item.company.company_name</strong>
                                </div>

                            </div>

                        </div>
                    }


                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="pagedList pagination-lg">
                            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.Classic)
                        </div>
                    </div>
                </div>

             



            </div>

        </section>

        <!--POST AREA END-->

    </div>

    <!--MAIN END-->

</div>