@using JobInn.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_JobInn_Layout.cshtml";
}
<!--INNER BANNER START-->

<section id="inner-banner">

    <div class="container">

        <h1>Login To Your Account</h1>

    </div>

</section>

<!--INNER BANNER END-->
<!--MAIN START-->

<div id="main">



    <!--SIGNUP SECTION START-->

    <section class="signup-section">

        <div class="container">

            <div class="holder">

                <div class="thumb"><img src="~/Content/images/signup.png" alt="img"></div>


                    


                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new {  role = "form" }))
            {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="input-box">
                            <i class="fa fa-user"></i>


                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-mail" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })


                        </div>
                      
                       
                        <div class="input-box">
                            <i class="fa fa-unlock"></i>

                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Şifrə"})
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                        </div>

                        <div class="check-box">

                            @Html.CheckBoxFor(m => m.RememberMe, new { @id = "id3" })


                            <strong>Remember Me</strong>
                        </div>

                        <input style="margin:25px" type="submit" value="SIGN UP">

                        <a href="#" class="login">Forgot your Password</a> <b>OR</b>

                        <div class="login-social">

                            <h4>Log in with Your Social Account</h4>

                            <ul>

                                <li> <a href="#" class="fb"><i class="fa fa-facebook"></i>Facebook Login</a> </li>

                                <li> <a href="#" class="gp"><i class="fa fa-google-plus"></i>Google Plus Login</a> </li>

                                <li> <a href="#" class="tw"><i class="fa fa-twitter"></i>Twitter Login</a> </li>

                            </ul>

                            <em>You Don’t have an Account? @Html.ActionLink("SIGN UP NOW", "Register")</em>
                        </div>

                     

                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }

            </div>

        </div>

    </section>

    <!--SIGNUP SECTION END-->



</div>

<!--MAIN END-->
@*</section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>*@
