@using Microsoft.AspNet.Identity
<!--USER OPTION COLUMN START-->

<div class="user-option-col">
    @if (Request.IsAuthenticated )
            {
        <div class="thumb">

            <div class="dropdown">

                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <img style="width:50px;height:50px;border-radius:100%;" title="@User.Identity.GetUserName()" src="~/Content/images/24.jpg" alt="img">
                    
                    @if (Session["UserId"] != null)
                    {<div style="width:10px;
                                 height:10px; 
                                 background-color:greenyellow;
                                 border-radius:100%;
                                 border:solid 0.5px gray;
                                 position:relative;
                                 bottom:13px;left:3px;"></div>
                    }
                   
                </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                  
               @* <li> <a href="~/Profile/UserDetail/@Session["UserId"].ToString()">12345678</a></li>*@

                    <li>
                    @Html.ActionLink("Şifrəni Dəyiş", "ChangePassword", "Manage")</li>

                    <li><a href="#">Profili Dəyiş</a></li>
                    <li>
                   
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                         {
                            @Html.AntiForgeryToken()

                              <a href="javascript:document.getElementById('logoutForm').submit()">Çıxış</a>
                         }
                    </li>
                    
                </ul>

            </div>

        </div>

    }
    else
    {
        <div class="dropdown-box">

            <div class="dropdown">

                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <img src="~/Content/images/option-icon.png" alt="img"> </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">

                    <li>
                        <a href="javascript:void(0)" class="login-round"><i class="fa fa-sign-in"></i></a>
                        @Html.ActionLink("Profilə daxil ol", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn-login" })
                
                    </li>

                    <li> 
                    <a href="javascript:void(0)" class="login-round"><i class="fa fa-user-plus"></i></a>
                        @Html.ActionLink("Qeydiyyatdan keç", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn-login" })
                    </li>
                 
                </ul>

            </div>

        </div>
    }
</div>

<!--USER OPTION COLUMN END-->