@model JobInn.Areas.Admin.Models.PrivacyPolicy

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_JobInn_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PrivacyPolicy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pp_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pp_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pp_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pp_text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pp_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
